---
layout: archive
title: "Conference"
permalink: /conference/
author_profile: true
---

{% assign conferences = site.conference | group_by: "conference" %}

{% for conf in conferences %}

{% assign first = conf.items.first %}

# {{ first.venue }}

**{{ first.location }}**

**{{ first.date | date: "%d %B %Y" }}

---

{% for post in conf.items %}

### {{ post.type }}

**{{ post.title }}

{% if post.paperurl %}
[📄 PDF]({{ post.paperurl }})
{% endif %}

{% if post.slidesurl %}
| [ResearchGate]({{ post.slidesurl }})
{% endif %}

{{ post.citation }}

<br>

{% endfor %}

<hr>

{% endfor %}