<h3>{{ post.title }}</h3>

<p>

<strong>{{ post.type }}</strong>

</p>

{% if post.authors %}
<p>

<strong>Authors:</strong>

{{ post.authors | markdownify }}

</p>
{% endif %}

{% if post.paperurl %}
<a href="{{ post.paperurl }}">📄 Commnication</a>
{% endif %}

{% if post.slidesurl %}
|
<a href="{{ post.slidesurl }}">🔗 Link</a>
{% endif %}

{% if post.citation %}
<p><em>{{ post.citation }}</em></p>
{% endif %}

{% if post.presentationurl %}
|
<a href="{{ post.presentationurl }}">📽 Presentation</a>
{% endif %}

{% if post.doi %}
|
<a href="{{ post.doi }}">DOI</a>
{% endif %}

{% if post.abstract %}
<p>

{{ post.abstract }}

</p>
{% endif %}